<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlamofireImageTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044718EE1D586DC5007A3CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044719021D586DC5007A3CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0447190D1D586DC5007A3CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
